/.vscode
./vscode
.vscode/

# Build output
*.o
*.a
*.so
*.txt
# Archives
*.zip
*.tar
*.tar.gz

# Logs
*.log

# Legacy
legacy/

#build 
build/
/build/


# Python cache
__pycache__/
*.pyc
.sh
.env

#any ai generated better exaples 
./jager_new/
/jager_new/